@import './components/Menu.css';
@import './components/Name.css';
@import './components/Welcome.css';
@import './components/About.css';
@import './components/Projects.css';
@import './components/Contact.css';



body {
  font-family: 'Quicksand', sans-serif;
  /*box-sizing: border-box;*/
  /*background: #63ADFF;*/
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /*max-width: 1000px;*/
  margin: 0;
  /*padding: 5px;*/
}

.Footer {
  color: #fff;
  background-color: black;
}


@media all and (max-width: 1000px) {

}

@media all and (max-width: 500px) {

}