.Flex-menu ul {
  /*border: 1px solid black;*/
  list-style: none;
  margin: 0px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
}

/*.Flex-menu .Social__item {
  flex: 2;
}*/

.Flex-menu a {
  color: #32567F;
  text-decoration: none;
  padding: 10px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
  font-size: 25px;
}

.Flex-menu a:hover {
  color: black;
  /*background: rgba(0,0,0,0.3);*/
}


