.Flex-menu ul {
  /*border: 1px solid black;*/
  list-style: none;
  margin: 0px;
  padding: 4px;
  display: flex;
  align-items: center;
}

.Flex-menu .Menu__item {
  /*flex: 2.75;*/
  justify-content: space-around;
}

/*.Flex-menu .Social__item {
  flex: 2;
}*/

.Flex-menu a {
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}

.Flex-menu a:hover {
  color: black;
  /*background: rgba(0,0,0,0.3);*/
}


